In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
titanic_df = pd.read_csv("titanic.csv")
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
titanic_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [65]:
titanic_df.drop(['Name','Ticket','Cabin','Ticket','Embarked','Sex','Age'],inplace=True,axis=1)
titanic_df.head()

   PassengerId  Survived  Pclass  SibSp  Parch     Fare
0            1         0       3      1      0   7.2500
1            2         1       1      1      0  71.2833
2            3         1       3      0      0   7.9250
3            4         1       1      1      0  53.1000
4            5         0       3      0      0   8.0500

In [66]:
titanic_df.corr()

             PassengerId  Survived    Pclass     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144 -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481 -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  0.083081  0.018443 -0.549500
SibSp          -0.057527 -0.035322  0.083081  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  0.159651  0.216225  1.000000

In [68]:
sns.heatmap(titanic_df.corr(), annot=True)

In [70]:
X = titanic_df.drop('Survived', axis = 1)
y = titanic_df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

sc = StandardScaler()
X_train = sc.fit_transform(X_train) 
X_test = sc.fit_transform(X_test)

knn = KNeighborsClassifier(n_neighbors=13) 
knn.fit(X_train, y_train) 

y_pred = knn.predict(X_test)
print(y_pred)
print(type(y_pred))

[1 1 0 1 0 1 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 1 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 1 0 1
 0 0 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 1
 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 1 0 1 0 0 1 0 1 0 0 0 1 1 1 0 0 0
 1 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0
 0 1 1 1 0 1 0 0 0]
<class 'numpy.ndarray'>

In [71]:
print(knn.score(X_test, y_test))

0.6902985074626866

In [73]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
confusion_matrix(y_test, y_pred)

array([[131,  26],
       [ 57,  54]])

In [80]:
ConfusionMatrixDisplay.from_estimator(knn, X_test, y_test)

The reason as to why i chose this model was because it easy to read 
and you can see where we predicted where we thought would be true but isnt and etc..I may have doen it wrong 
but this way of seeing of who will die and who wont would be a great visual and 
comparison.