In [1]:
import numpy as np
import pandas as pd

In [7]:
titanic_df = pd.read_csv("titanic.csv")
#old code
#name = df.Name()
#embarked = df.Embarked()
#boo_titanic = titanic_df['Embarked'] == "S"

#new code
titanic_df['Name'][titanic_df['Embarked'] == "S"].head()

0                         Braund, Mr. Owen Harris
2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
6                         McCarthy, Mr. Timothy J
Name: Name, dtype: object