Scales of Measurement(WIll BE ON MIDTERM SO STUDY)

Nominal-Categories that do not have a natural order. EX:blood type,zip, etc
Ordinal-Categories where order matters but the diff between them is neither clear nor even. EX: happy level 1-10
Interval-There is order and the diff between two values is meaningful. EX:Temp, Ph
Ratio-The same as interval except it has a concept of 0. no negative numbers. EX:concentration, weight

Statistics in Python

Central tendency-represents center point or "typical"value of a dataset
-As a result, our rule of thumb is to replace null values with the mean when the
data is normally distributed and replace null values with the median when data is skewed

negative correlation-when one goes up the other goes down;they are going in oppisite directions

postive correlation-going the same way

no correlation-x and y have no correlation

In [1]:
import pandas as pd
df_clothes = pd.DataFrame(data = [['blue','S',20, 'Lemon Shirt'],
                                  ['blue','M',50,'Jeans'],
                                  ['beige','M',7,'Bucket Hat']])
df_clothes.columns = ['color','size','price','type']
df_clothes

   color size  price         type
0   blue    S     20  Lemon Shirt
1   blue    M     50        Jeans
2  beige    M      7   Bucket Hat

In [2]:
#can convert categorical values to numberical
#size is ordinal, so it can be easily encoded

size_map = {'S':1,'M':2,'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   color  size  price         type
0   blue     1     20  Lemon Shirt
1   blue     2     50        Jeans
2  beige     2      7   Bucket Hat

In [3]:
%pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp39-cp39-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\python\python39\lib\site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in c:\python\python39\lib\site-packages (from scikit-learn) (1.13.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp39-cp39-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.0 MB 8.5 MB/s eta 0:00:02
   ----- ---------------------------------- 1.6/11.0 MB 4.9 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/11.0 MB 4.5 MB/s eta 0:00:02
   ----------- ---------------------------- 3.1/11.0 MB 4.0 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.0 MB 3.8 MB/s eta 0:00:02
   ------------------- -------------------- 5.2/11.0 MB 4.4 MB/s eta 0:00:02
   ---------------------- ----------------- 6.3/11.0 MB 4.5 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.0 MB 5.4 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.0 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 5.9 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
#very good for nominal values
#where we want a number so it processes faster
#but the number doesnt mean anything
from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()

df_clothes['types'] = class_labels.fit_transform(df_clothes['type'].values)
df_clothes

   color  size  price         type  types
0   blue     1     20  Lemon Shirt      2
1   blue     2     50        Jeans      1
2  beige     2      7   Bucket Hat      0

In [7]:
# one hot encoding - easiest way
# this doesnt work if you have data 
#that is already numerical

df_clothes = pd.get_dummies(df_clothes[['color','size','price']])
df_clothes

   size  price  color_beige  color_blue
0     1     20        False        True
1     2     50        False        True
2     2      7         True       False